@import-normalize;

body {
	margin: 0;

	background-image: linear-gradient(
			rgba(26, 29, 41, 0.9),
			rgba(78, 77, 105, 0.4),
			rgba(247, 232, 152, 0.4)
		),
		url("./images/1680581533_3-64.jpg");
	background-attachment: fixed;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
p,
li {
	margin: 0;
	padding: 0;
}
