@import-normalize;

body {
	margin: 0;

	background-image: linear-gradient(
			rgb(0, 0, 0, 0.9),
			rgb(0, 0, 0, 0.4)
		),
		url("./images/1680581533_3-64.jpg");

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
p,
li {
	margin: 0;
	padding: 0;
}
